@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;

  font: normal 100%/1.3 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  margin: 0;
}

main {
  background-color: #f1f2f2;
}

/*-----------------------NAV---------------------*/

nav {
  background-color: #fff;
}

nav a {
  text-decoration: none;
  color: #024626;
  font-weight: 500;
  padding: 0;
}

nav a:hover {
  background-color: #024626;
  color: white;
}

.nav li {
  display: inline-block;
  list-style-type: none;
}

.title {
  width: 90%;
  max-width: 30em;
}
.masthead {
  padding: 2em 6em 0 4em;
}

@media only screen and (min-width: 38em) {

  nav {
    padding-top: 2em;
  }

  .logo {
    text-align: left;
  }

  .nav {
    text-align: right;
  }

}

/*-----------------------HOME PAGE---------------------*/

.portfolio {
  padding: 1em;
}

.hvr-shrink {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-shrink:hover, .hvr-shrink:focus, .hvr-shrink:active,
.hvr-shrink:hover a, .hvr-shrink:focus a, .hvr-shrink:active a {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}

.index-title {
  background-color: #F2F0ED;
  color: black;
}

.index-lettering {
  padding-left: 34%;
  padding-right: 34%;
}

h3 {
  font-weight: 300;
}

/*-----------------------FOOTER---------------------*/

footer {
  background-color: #024626;
  text-align: center;
  padding: 1em 2em;
}

.icon:hover {
  fill: #f5edde;
}

.social {
  width: 25%;
}

@media only screen and (min-width: 25em) {

  .social {
    width: 15%;
  }

}

@media only screen and (min-width: 39em) {

  .social {
    width: 10%;
  }

}

@media only screen and (min-width: 60em) {

  .social {
    width: 8%;
    max-width: 5em;
  }

  .portfolio {
    padding-left: 8em;
    padding-right: 8em;
  }

}

@media only screen and (min-width: 90em) {

  .portfolio {
    padding-left: 24em;
    padding-right: 24em;
  }

}

/*-----------------------ABOUT.HTML---------------------*/

.about-text {
  text-align: center;
}

.email {
  width: 80%;
  display: block;
  margin: auto;
}

.glasses {
  margin: auto;
  width: 20%;
  padding-top: 2em;
}

@media only screen and (min-width: 25em) {

  .email {
    width: 60%;
  }

}

@media only screen and (min-width: 60em) {

  .email {
    width: 50%;
    max-width: 30em;
  }

}

/*----------------------- ITEM PAGES ---------------------*/

.img-flex {
  display: block;
  width: 100%;
}

.item-page {
  padding-left: 10%;
  padding-right: 3em;
}

h1 {
  font-weight: 400;
  color: #024626;
}

h2 {
  font-weight: 200;
  color: #024626;
}

hr {
  color: #024626;
}

.app-process {
  display: block;
}

.ad-length {
  width: 50%;
}

.link {
  text-decoration: none;
  color: #cf6c19;
}

.error404 {
  padding: 2em;
  background-color: #f5edde;
  background-image: url("../images/glasses-bg.svg");
  background-size: 80px auto;
}

.error-main {
  width: 100%;
  background-color: #f7c241;
  border: 3px solid #f7c241;
  border-radius: 54px;
  margin-top: 3em;
}

.error-button {
  color: black;
}
