<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>{{page.title}}</title>
  <meta name="description" content="Sage Mosurinjohn is an Ottawa-based graphic designer showcasing her diverse design portfolio.">
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <meta property="og:title" content="Sage Mosurinjohn Portfolio" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="http://www.designedbysage.ca/" />
  <meta property="og:image" content="" />
  <meta property="og:description" content="Sage Mosurinjohn is an Ottawa-based graphic designer showcasing her diverse design portfolio." />

  <meta property="twitter:summary" content="Sage Mosurinjohn Portfolio" />

  <link href="{{site.baseurl}}/css/type.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/modules.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/grid.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/main.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Raleway:200,300,400" rel="stylesheet">

  <link href="images/favicon.ico" rel="shortcut icon">

</head>
<body>

  <header class="grid masthead text-center" id="top">
    <div class="unit xs-1 s-1 m-1-2">
      <a href="{{site.baseurl}}/"><img class="title" src="{{site.baseurl}}/images/wordmark.svg" alt="Sage Mosurinjohn Wordmark"></a>
    </div>
    <nav class="nav unit xs-1 s-1 m-1-2">
      <ul class="nav giga">
        <li><a class="island-1-2" href="{{site.baseurl}}/">WORK</a></li>
        <li><a class="island-1-2" href="{{site.baseurl}}/about/">CONTACT</a></li>
      </ul>
    </nav>
  </header>

    {{content}}

  <footer>
    <a href="https://www.behance.net/sagehartly"><img class="social" src="{{site.baseurl}}/images/social-media-01.svg" alt="Behance"></a>
    <a href="https://instagram.com/sagehartly/"><img class="social"  src="{{site.baseurl}}/images/social-media-02.svg" alt="Instagram"></a>
    <a href="https://ca.linkedin.com/in/sagemosurinjohn"><img class="social" src="{{site.baseurl}}/images/social-media-03.svg" alt="LinkedIn"></a>
  </footer>

</body>
</html>
